.navlist {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.home_container {
  font-family: "Roboto", sans-serif;
  font-weight: 700;

  color: black;
}

/* Card style */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial shadow */
}

/* Image style */
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Hover effect on card */
.card:hover {
  transform: translateY(-30px); /* Move card up */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More prominent shadow */
}

/* Card body */
.card-body {
  padding: 20px;
  background-color: #fff;
}

.about{
  overflow-x: hidden;
  overflow-y: hidden;
}
.home{
  overflow-x: hidden;
  overflow-y: hidden;
}




